## "to_gbq" é utilizada para enviar nosso dataframe do google collab para o Big Query, "auth" para nos autenticarmos, "bigquery" para instanciarmos o nosso client, e "pd" para tratarmos o dado no nosso exemplo.

In [15]:
from pandas_gbq import to_gbq
from google.colab import auth
from google.cloud import bigquery
import pandas as pd

auth.authenticate_user()
print('Authenticated')

Authenticated

# Instaciando nosso client

In [6]:
client = bigquery.Client(project='future-graph-401118')

# Precisaremos usar o id do nosso projeto, o nome do dataset e qual tabela iremos salvar em uma dataframe pandas.

In [ ]:
project_id = 'future-graph-401118'
dataset_id = 'canizela_nba'
table_id = 'draft_picks_from_duke_1'

In [18]:
# Criando a query e transformando-a em um dataframe pandas.

In [10]:
query = f"SELECT * FROM `{project_id}.{dataset_id}.{table_id}`"


df = client.query(query).to_dataframe()

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109 entries, 0 to 108
Data columns (total 29 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Player   109 non-null    object
 1   Year     109 non-null    Int64
 2   Rd       109 non-null    Int64
 3   Overall  108 non-null    Int64
 4   From     81 non-null     Int64
 5   To       81 non-null     Int64
 6   G        81 non-null     float64
 7   MP       81 non-null     float64
 8   FG       81 non-null     float64
 9   FGA      81 non-null     float64
 10  _3P      74 non-null     float64
 11  _3PA     74 non-null     float64
 12  FT       81 non-null     float64
 13  FTA      81 non-null     float64
 14  ORB      78 non-null     float64
 15  TRB      81 non-null     float64
 16  AST      81 non-null     float64
 17  STL      75 non-null     float64
 18  BLK      75 non-null     float64
 19  TOV      76 non-null     float64
 20  PF       81 non-null     float64
 21  PTS      81 non-null     float64
 22  FG_      81 non-null     float64
 23  _3P_     65 non-null     float64
 24  FT_      80 non-null     float64
 25  MP_G     81 non-null     float64
 26  PTS_G    81 non-null     float64
 27  TRB_G    81 non-null     float64
 28  AST_G    81 non-null     float64
dtypes: Int64(5), float64(23), object(1)
memory usage: 25.4+ KB

# Salvando apenas algumas colunas do nosso dataframe no novo dataframe. Nosso objetivo aqui não é aprofundas no tratamento dos dados e sim mostrar que é possível usarmos python para trabalhar com as tabelas do Big Query.

In [13]:
new_df = df[["Player", "Year", "Rd"]]

In [14]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109 entries, 0 to 108
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  109 non-null    object
 1   Year    109 non-null    Int64
 2   Rd      109 non-null    Int64
dtypes: Int64(2), object(1)
memory usage: 2.9+ KB

# Criando o nome da tabela que vamos criar com nosso novo dataframe

In [16]:
new_table_id = 'new_draft_picks_from_duke_1'

# Enviando o dataframe para o Big query.

In [17]:
to_gbq(new_df, destination_table=f'{project_id}.{dataset_id}.{new_table_id}', project_id=project_id, if_exists='replace')

100%|██████████| 1/1 [00:00<00:00, 7073.03it/s]